{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block header %}
<div class="profile-background">
    <div class="profile-container">
        <div class="profile-card">
            <h2>Change Password</h2>
            <form id="changePasswordForm" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn">Change Password</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

<script>
document.getElementById('changePasswordForm').addEventListener('submit', function(event) {
    const newPassword = document.getElementById('id_new_password1').value;
    const confirmPassword = document.getElementById('id_new_password2').value;

    if (newPassword !== confirmPassword) {
        event.preventDefault();
        alert('Hasła nie są zgodne');
        return;
    }

    const passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
    if (!passwordPattern.test(newPassword)) {
        event.preventDefault();
        alert('Hasło musi zawierać co najmniej 8 znaków, w tym jedną wielką literę, jedną małą literę, jedną cyfrę i jeden znak specjalny.');
    }
});
</script>
