<!-- donations/templates/form-confirmation.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Confirmation{% endblock %}

{% block header %}
<div class="slogan container container--90">
  <h2>
    Dziękujemy za przesłanie formularza. Na maila prześlemy wszelkie
    informacje o odbiorze.
  </h2>
    <section class="form-confirmation">
  <div class="container container--70">
    <h3>Twoja darowizna została pomyślnie zarejestrowana!</h3>
    <p>Na maila prześlemy wszelkie informacje o odbiorze.</p>
    <a href="{% url 'donations:index' %}" class="btn">Powrót na stronę główną</a>
  </div>
</section>
</div>
{% endblock %}

{% block content %}
{% endblock %}
