{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block header %}
<div class="custom-header">
  <div class="custom-form-container">
    <h2>Zaloguj się</h2>
    <form id="loginForm">
      <div class="form-group">
        <label>
          <input type="email" name="email" placeholder="Email" required>
        </label>
        <span class="error-message" id="emailError"></span>
      </div>
      <div class="form-group">
        <label>
          <input type="password" name="password" placeholder="Hasło" required>
        </label>
        <span class="error-message" id="passwordError"></span>
        <a href="#" class="btn btn--small btn--without-border reset-password">Przypomnij hasło</a>
      </div>
      <div class="form-group form-group--buttons">
        <a href="{% url 'donations:register' %}" class="btn btn--without-border">Załóż konto</a>
        <button class="btn" type="submit">Zaloguj się</button>
      </div>
    </form>
    <div id="successMessage" style="display: none;">Login successful!</div>
  </div>
</div>
{% endblock %}

{% block content %}{% endblock %}
