<!-- donations/templates/password_reset_confirm.html -->
{% extends 'base.html' %}
{% block title %}Confirm Password Reset{% endblock %}

{% block header %}
<div class="custom-header">
  <div class="custom-form-container">
    <h2>Ustaw nowe hasło</h2>
    <form method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label>
          <input type="password" name="password1" placeholder="Nowe hasło" required>
        </label>
      </div>
      <div class="form-group">
        <label>
          <input type="password" name="password2" placeholder="Powtórz nowe hasło" required>
        </label>
      </div>
      <div class="form-group form-group--buttons">
        <button class="btn" type="submit">Zmień hasło</button>
      </div>
    </form>
    {% if error %}
    <div class="error-message">{{ error }}</div>
    {% endif %}
  </div>
</div>
{% endblock %}
