<!-- donations/templates/password_reset.html -->
{% extends 'base.html' %}
{% block title %}Password Reset{% endblock %}

{% block header %}
<div class="custom-header">
  <div class="custom-form-container">
    <h2>Resetuj hasło</h2>
    <form method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label>
          <input type="email" name="email" placeholder="Email" required>
        </label>
      </div>
      <div class="form-group form-group--buttons">
        <button class="btn" type="submit">Wyślij</button>
      </div>
    </form>
    {% if message %}
    <div class="info-message">{{ message }}</div>
    {% endif %}
  </div>
</div>
{% endblock %}
