{% extends 'base.html' %}
{% block title %}Confirm Password Reset{% endblock %}

{% block header %}
<div class="custom-header">
  <div class="custom-form-container">
    <h2>Ustaw nowe hasło</h2>
    <form id="resetPasswordForm" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label>
          <input type="password" name="password1" placeholder="Nowe hasło" required>
        </label>
      </div>
      <div class="form-group">
        <label>
          <input type="password" name="password2" placeholder="Powtórz nowe hasło" required>
        </label>
      </div>
      <div class="form-group form-group--buttons">
        <button class="btn" type="submit">Zmień hasło</button>
      </div>
    </form>
    {% if error %}
    <div class="error-message">{{ error }}</div>
    {% endif %}
  </div>
</div>
{% endblock %}

<script>
document.getElementById('resetPasswordForm').addEventListener('submit', function(event) {
    const password = document.getElementsByName('password1')[0].value;
    const password2 = document.getElementsByName('password2')[0].value;

    if (password !== password2) {
        event.preventDefault();
        alert('Hasła nie są zgodne');
        return;
    }

    const passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
    if (!passwordPattern.test(password)) {
        event.preventDefault();
        alert('Hasło musi zawierać co najmniej 8 znaków, w tym jedną wielką literę, jedną małą literę, jedną cyfrę i jeden znak specjalny.');
    }
});
</script>
