{% extends 'base.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block header %}
<div class="custom-header">
  <div class="custom-form-container">
    <h2>Załóż konto</h2>
    <form id="registerForm" method="POST" action="{% url 'donations:register' %}">
      {% csrf_token %}
      <div class="form-group">
        <label>
            <input type="text" name="name" placeholder="Imię" required>
        </label>
        <span class="error-message">{{ errors.name }}</span>
      </div>
      <div class="form-group">
        <label>
            <input type="text" name="surname" placeholder="Nazwisko" required>
        </label>
        <span class="error-message">{{ errors.surname }}</span>
      </div>
      <div class="form-group">
        <label>
            <input type="email" name="email" placeholder="Email" required>
        </label>
        <span class="error-message">{{ errors.email }}</span>
      </div>
      <div class="form-group">
        <label>
            <input type="password" name="password" placeholder="Hasło" required>
        </label>
        <span class="error-message">{{ errors.password }}</span>
      </div>
      <div class="form-group">
        <label>
            <input type="password" name="password2" placeholder="Powtórz hasło" required>
        </label>
        <span class="error-message">{{ errors.password2 }}</span>
      </div>
      <div class="form-group form-group--buttons">
        <a href="{% url 'donations:login' %}" class="btn btn--without-border">Zaloguj się</a>
        <button class="btn" type="submit">Załóż konto</button>
      </div>
    </form>
    {% if success %}
    <div id="registerSuccessMessage">Registration successful!</div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block content %}{% endblock %}
